[report]
omit = 
    *migrations*
    *tests*
    config/*
    test/*
    manage.py
    authors/apps/profiles/utils.py 
    authors/wsgi.py 
    authors/apps/profiles/permissions.py 
    authors/apps/profiles/apps.py
