asn1crypto==0.24.0
autopep8==1.4.4
cffi==1.12.3
cryptography==2.6.1
Django==1.10
django-cors-middleware==1.2.0
django-extensions==1.7.1
djangorestframework==3.4.4
pycodestyle==2.5.0
pycparser==2.19
PyJWT==1.4.2
pytz==2019.1
six==1.10.0
sqlparse==0.3.0
